name: Build APK with Kivy Docker

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Build APK
      run: |
        docker run --rm -v ${{ github.workspace }}:/home/user/app \
          kivy/buildozer \
          buildozer android debug




