name: Mobile Build
on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build APK
        run: |
          # The 'script' command tricks Buildozer into thinking there is a real screen/keyboard
          script -e -c "docker run --rm -v ${{ github.workspace }}:/home/user/app -e BUILDOZER_ALLOW_ROOT=1 kivy/buildozer bash -c 'echo y | buildozer android debug'"
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: App-For-Mobile
          path: bin/*.apk
      





