name: Build APK with Kivy Docker

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Build APK
      run: |
        docker run --rm \
          -e BUILDOZER_ALLOW_ROOT=1 \
          -v ${{ github.workspace }}:/home/user/app \
          kivy/buildozer \
          bash -c "BUILDOZER_ALLOW_ROOT=1 buildozer android debug"

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: FingerCapture-APK
        path: bin/*.apk





      





